:root {
  --height: 110vh;
}
body {
  margin: 0;
  background: linear-gradient(#2980b9, #6dd5fa, #fff);
}
head {
  margin: 0;
}
main {
  min-height: var(--height);
  position: relative;
}
.grass {
  height: 150px;
  background-image: url(./image_2.jpeg);
  background-size: contain;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}
.ladder {
  height: calc(var(--height) - 150px);
  background-image: url(https://lh3.googleusercontent.com/vI4Qa08i6jICxqm5-Fbhr7xdwbikcwwwwoeyR-4Y7qwa3xELAPYxv7OitIECxM_OBo1Sghb4oA00cts1587qZvIsh0MbXI5aNzA=s400);
  width: 150px;
  background-size: contain;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
.progress {
  position: fixed;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  font-size: 24px;
  font-weight: bold;
  background-color: #fff;
  padding: 15px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  width: 72px;
  text-align: right;
}
.progress-bar {
  position: fixed;
  top: 0;
  width: 100%;
  left: 0;
  height: 10px;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 3;
}
.progress-bar-inner {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  background-color: purple;
  width: 0;
}
.run-box {
  position: absolute;
  left: 0;
  width: 50%;
  height: 300px;
  bottom: 90px;
  overflow: hidden;
}
.run-box img {
  position: absolute;
  right: 0;
  bottom: 0;
  transition: 0.3s all;
}
.run-box:active img {
  right: 100%;
}
