body{
    display: flex;
    justify-content: center;
    align-items: center;
}
.box{
    background-color: aqua;
    width: 50vh;
    height:50vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.color{
    width: 100px;
    height: 100px;
    background-color: red;
    border-radius: 50%;
    text-align: center;
}
.color>p{
    padding-top: 20px;
}
.blue{
    background-color: blue;
}
.green{
    background-color: green;
}